# --- Flutter / Dart ---
.dart_tool/
.packages
build/
coverage/
pubspec.lock

# --- Android / Gradle ---
android/.gradle/
android/local.properties
**/*.keystore
**/key.properties

# --- iOS / macOS ---
ios/Pods/
macos/Pods/
**/DerivedData/
**/*.xcworkspace/
**/*.xcodeproj/project.xcworkspace/
**/*.xcodeproj/xcuserdata/
**/*.xcuserdatad/

# --- Linux / Windows / Web ephemerals ---
linux/flutter/ephemeral/
windows/flutter/ephemeral/
web/.dart_tool/

# --- IDE ---
.idea/
.vscode/
*.iml

# --- Autres ---
*.log