# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
build/
coverage/
.flutter-plugins
.flutter-plugins-dependencies

# Android/Gradle
android/.gradle/
android/local.properties
**/*.keystore
**/key.properties

# iOS/Xcode
ios/Pods/
macos/Pods/
**/DerivedData/
**/*.xcworkspace/
**/*.xcodeproj/project.xcworkspace/
**/*.xcodeproj/xcuserdata/
**/*.xcuserdatad/

# IDE
.idea/
.vscode/
*.iml

# App data
**/*.db
**/export_*.json
